# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime stuff
.env
.env.local
server/.pgdata/
server/.pgpw.txt
.env.development.local
.env.test.local
.env.production.local

# Generated Build Artifact shit
client/dist/
server/dist/

# Dependency directories
node_modules/
/dist/
/*.tsbuildinfo
/.parcel-cache/
client/node_modules
client/node_modules/bin

# prisma (keep schema.prisma and seed.js tracked; ignore generated client output)
.prismaClient/
**/generated/prisma/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Ocean XMLated Frontend Buildartifacts
.dist/

# Token
*.pem
```